.jumbotron {
    background-image: url(https://ychef.files.bbci.co.uk/1600x900/p02wnj16.webp);
    background-size: 100%;
    text-align: top;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
}