.jumbotron {
    background-image: url(https://ychef.files.bbci.co.uk/1600x900/p02wnj16.webp);
    background-size: 100% 100%;
    text-align: center;
    color: rgb(50, 4, 103);
  }
  .body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #60e8d3;
  }